@use '../../styles/variables' as *;
.hero {
  display: flex;
  background: $dark-color-500;
  color: $primary-color-200;

  .hero-headline {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
    }
  }


  .hero-headline {
    button {
      padding: 10px;
      background: $dark-color-500;
      color: $primary-color-300;
      border: solid 1px $primary-color-300;
      transition:  all 0.2s 0.1s ease-in;
      box-sizing: border-box;
    }

    button:hover {
      cursor: pointer;
      color: $dark-color-500;
      background: $primary-color-300;
    }
  }

  .hero-image {
    border-left: solid 2px $primary-color-300;
    border-bottom: solid 2px $primary-color-300;
  } 

  .hero-image img{
    width: 100%;
    height: 250px; 
    object-fit: cover;
  }
  
  @include adapt(phone){
    flex-direction: column-reverse;
  }

  @include adapt(tablet){
    .hero-headline {
      padding: 10vw;
    }
  
    .hero-image {
      height: 550px;
    }

    .hero-image img {
      object-fit: cover;
      width: 60vw;
      height: 100%;
    }
  }
}

.trusted-by {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li a img {
      width: 100px;
    }

   li a img:hover {
      width: 120px;
    }


  }

  @include adapt(phone){
    flex-direction: column;
    gap: 20px;

    ul {
      justify-content: center;
    }

  }
}
