@use '../../../../styles/variables' as *;

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  background: $dark-color-500;

  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    color: $primary-color-100;
  }
}
