// Primary color
$primary-color-100: #FFFCF7;
$primary-color-200: #FFF4DE;
$primary-color-300: #FFEBCE;
$primary-color-400: #FFE0B5;
$primary-color-500: #F8D99C;
$primary-color-600: #E3C68F;
$primary-color-700: #C9A26B;
$primary-color-800: #AB7C38;
$primary-color-900: #875E24;

// Dark color
$dark-color-500: #19160E;
