@use '../../../../styles/variables' as *;

.section-contact {
  width: 100%;
  background: $dark-color-500;
}

.section-contact .headline{
  color: $primary-color-300;
  border-color: $primary-color-300;
}

.contact {
  display: flex;
  flex-direction: column;
  color: $primary-color-300;
  gap: 20px;

  .products {
    display: flex;
    gap: 20px;

    .product {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid $primary-color-300;
      }
      
      .active {
        background: $primary-color-300;
        div {
          width: 50%;
          height: 50%;
          background: $dark-color-500;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .form-parent {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    .form-item {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;

      input {
        width: 100%;
        padding: 10px;
        color: #606060; 
        background: #2F2F2F;
        border: none;
      }

      input:focus {
        border: 1px solid $primary-color-300;
      }

    }
      .form-submit {
        width: 100%;
        background: none;
        input {
          color: $dark-color-500;
          width: 100%;
          background: $primary-color-300;
          padding: 10px;
          border: none;
        }
      }

  }

  .product-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    select {
      padding: 10px;
      color: $dark-color-500;
      background: $primary-color-300;
      border: solid 1px $primary-color-300;
    }
  }
}

