// Primary color
$primary-color-100: #FFFCF7;
$primary-color-200: #FFF4DE;
$primary-color-300: #FFEBCE;
$primary-color-400: #FFE0B5;
$primary-color-500: #F8D99C;
$primary-color-600: #E3C68F;
$primary-color-700: #C9A26B;
$primary-color-800: #AB7C38;
$primary-color-900: #875E24;

// Dark color
$dark-color-500: #19160E;

// Dimensions Breakpoints
@mixin adapt($device) {
  $phone-upper-boundary: 600px;
  $tablet-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $device == phone {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $device == tablet {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $device == tablet-landscape {
    @media (min-width: $tablet-upper-boundary) { @content; }
  } @else if $device == desktop {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $device == tv {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}
