@use '../../../../styles/variables' as *;
.layout-nav {
  background: $dark-color-500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 20px;

  ul {
    display: flex;
    gap: 20px;
    li {
      a {
        color: #BDBDBD;
        text-decoration: none;
        font-weight: 100;
      } 

      .active {
        color: $primary-color-500;
        font-weight: 900;
      }

      a:hover {
        color: $primary-color-500;
      }
    }
  }
}
